.dashboard-container {
  height: 100vh;
  width: 100vw;
  padding: 0.5rem;
  padding-top: calc(0.5rem + env(safe-area-inset-top));
  padding-bottom: calc(0.5rem + env(safe-area-inset-bottom));
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 25%;
  grid-template-areas:
    "action-panel action-panel"
    "workspace device-panel";
  grid-gap: 0.5rem;
}

@media (max-width: 480px) {
  .dashboard-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "action-panel"
      "workspace";
  }

  .dashboard--show-devices .workspace-container {
    display: none;
  }

  .dashboard--show-devices .device-panel-container {
    display: flex;
    grid-area: workspace;
  }
}