 .waiting-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waiting-content {
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  outline: 2px solid #bde8e7;
  outline-offset: 1rem;
}

.waiting-title {
  margin: 0;
  font-size: 1.4rem;
  text-align: center;
  color: gray;
}

.waiting-button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 0.9rem;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  background-color: #0bb0ad;
  color: white;
  transition: background 0.2s ease;
}

.waiting-button:hover {
  background-color: #098e8c;
}

.waiting-button:active {
  background-color: #077574;
}
