.action-panel-container {
  grid-area: action-panel;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.action-panel-buttons {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

@media (max-width: 480px) {
  .action-panel-container {
    justify-content: space-between;
    padding: 0.4rem 0.6rem;
    border-radius: 0.5rem;
    background: rgba(189, 232, 231, 0.5);
  }
}

.action-panel-button {
  width: 2.2rem;
  height: 2.2rem;
  background-color: transparent;
  border-radius: 0.5rem;
  border: 3px solid #bde8e7;
  transition: 0.2s background-color ease;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.action-panel-button:hover {
  background-color: #bde8e7;
}

.action-panel-button:active {
  border-color: #0bb0ad;
}

.action-panel-button-icon {
  display: block;
  color: #0bb0ad;
  transition: color 0.2s ease;
}

.action-panel-button:hover .action-panel-button-icon {
  color: #098e8c;
}

.action-panel-button:active .action-panel-button-icon {
  color: #077574;
}
